<h1>Listing pdfs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pdfs.each do |pdf| %>
  <tr>
    <td><%= pdf.name %></td>
    <td><%= link_to 'Search', pdf %>-</td>  
    <td><%= link_to 'Edit', edit_pdf_path(pdf) %>-</td> 
    <td><%= link_to 'Delete', pdf, confirm: 'Are you sure you want to delete this pdf?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Upload Pdf', new_pdf_path %>
